body {
    min-height: 100vh;
}
header {
    text-align: center;
    margin-bottom: 10px;
}
#cards {
    min-height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background: gray;
    padding: 2%;
    padding-bottom: 0;
}

.card {
    width: 23%;
    margin-bottom: 2%;
    background-color: green;
    border: 1px solid black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 25%;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #1b5b6e;
}