* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
}
.container{
    background-image: linear-gradient(white, gray, black);
    min-height: 100vh;
}
header {
    text-align: center;
    margin: 10px 0;
}

header h1 {
    font-size: 42px;
}

header button {
    font-size: 20px;
    padding: 5px;
    background-image: linear-gradient(white, gray);
    outline: black 1px solid;
    margin: 10px 0;
}

#cards {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 2%;   
}

.card {
    width: 23%;
}

.card img {
    width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 25%;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #1b5b6e;
}

@media (min-width: 460px) {
    #cards {
        width: 460px;
        margin: auto;
    }
}